<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.full_name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#"><b>＋Create Room</b></a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">Room 01</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">Room 02</a>
    </div>
  </div>
</div>