<div class="side-bar-header">
  <div class="header-name">
    <a href="#">FullName</a>
  </div>
  <div class="create-room">
    <b><a href="#">＋Create Room</a></b>
  </div>
</div>

<div class="rooms">
  <div class="room-type">
    <div class="room">
      <div class="room-name">
        <a href="#">Room01</a>
      </div>
    </div>
    <div class="room">
      <div class="room-name">
        <a href="#">Room02</a>
      </div>
    </div>
  </div>
</div>
